%p
  %b
    = t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email"))
    \:
  = @user.email
%p
  %b
    = t("activerecord.attributes.user.encrypted_password", :default => t("activerecord.labels.encrypted_password", :default => "Encrypted password"))
    \:
  = @user.encrypted_password
%p
  %b
    = t("activerecord.attributes.user.reset_password_token", :default => t("activerecord.labels.reset_password_token", :default => "Reset password token"))
    \:
  = @user.reset_password_token
%p
  %b
    = t("activerecord.attributes.user.reset_password_sent_at", :default => t("activerecord.labels.reset_password_sent_at", :default => "Reset password sent at"))
    \:
  = @user.reset_password_sent_at
%p
  %b
    = t("activerecord.attributes.user.remember_created_at", :default => t("activerecord.labels.remember_created_at", :default => "Remember created at"))
    \:
  = @user.remember_created_at
%p
  %b
    = t("activerecord.attributes.user.sign_in_count", :default => t("activerecord.labels.sign_in_count", :default => "Sign in count"))
    \:
  = @user.sign_in_count
%p
  %b
    = t("activerecord.attributes.user.current_sign_in_at", :default => t("activerecord.labels.current_sign_in_at", :default => "Current sign in at"))
    \:
  = @user.current_sign_in_at
%p
  %b
    = t("activerecord.attributes.user.last_sign_in_at", :default => t("activerecord.labels.last_sign_in_at", :default => "Last sign in at"))
    \:
  = @user.last_sign_in_at
%p
  %b
    = t("activerecord.attributes.user.current_sign_in_ip", :default => t("activerecord.labels.current_sign_in_ip", :default => "Current sign in ip"))
    \:
  = @user.current_sign_in_ip
%p
  %b
    = t("activerecord.attributes.user.last_sign_in_ip", :default => t("activerecord.labels.last_sign_in_ip", :default => "Last sign in ip"))
    \:
  = @user.last_sign_in_ip                      